<!-- <h1>Counter App</h1>
<div style="text-align: center;">
  <h2 class="count">{{count}}</h2>
  <div>
    <button (click)="handleCounter('decrement')" class="btn red-btn">Decrement</button>
    <button (click)="handleCounter('reset')" class="btn black-btn">Reset</button>
    <button (click)="handleCounter('increment')" class="btn green-btn">Increment</button>
  </div>
</div>
<button class="btn" name="login" (click)="handleEvent($event)">Click Event</button>

<br>
<br>
<div
(mouseenter)="handleEvent($event)",
style="background-color: greenyellow; width:100px;height: 100px;">
</div>

<div
(mouseleave)="handleEvent($event)",
style="background-color: green; width:100px;height: 100px;">
</div>

<br>
<br>
<input type="text" (input)="handleEvent($event)"  
(focus)="handleEvent($event)"
(blur)="handleEvent($event)"
  name="user">

<h1>Get and Set Input Value</h1>
<h2>UserName is: {{displayName}}</h2>
<input type="text" value="{{name}}" (input)="getName($event)" placeholder="Enter User Name">
<br>
<br>
<button (click)="showName()">Get Name</button>
<button (click)="setName()">Set Name</button>

<hr>
<br>
<h2> Email: {{email}}</h2>
<input type="text" placeholder="enter email"  value="{{email}}" #emailField>
<button (click)="getEmail(emailField.value)">Get Email</button>
<button (click)="setEmail()">Set Email</button>


<br>
<br>
<h1>Style</h1>

<app-profile></app-profile>

<h1>If-Else | Control Flow</h1>

<button  (click)="hideDiv()">Hide Div</button>
<button  (click)="showDiv()">Show Div</button> -->
<!-- 
<button (click)="toggleDisplay()">Hide And Show Div</button>
@if(display){
<div style="width: 200px; height: 200px; background-color: lime;">

</div>
} -->

<!-- @if(x>10){
<div style="width: 200px; height: 200px; background-color: lime;" (click)="toggleDisplay()"></div>
}  -->
<!-- 
<hr>

<button (click)="toggleTwo()" style="display: block;">{{toggle?"Show Cyan":"Show Red"}}</button>
@if(toggle){
<div style="width: 200px; height: 200px; background-color: red;"></div>
}
@else{
<div style="width: 200px; height: 200px; background-color: cyan;"></div>
}

<h1>Else-If | Control Flow</h1>

<button (click)="handleColor(1)">Tan</button>
<button (click)="handleColor(2)">Maroon</button>
<button (click)="handleColor(3)">Magenta</button>
<button (click)="handleColor(4)">Other</button>
<input type="text" (input)="handleInput($event)" placeholder="enter color  number">

@if(color===1){
<div style="background-color: tan; width: 100px; height: 100px;"></div>
}
@else if(color===2){
<div style="background-color:maroon; width: 100px; height: 100px;"></div>
}
@else if(color===3){
<div style="background-color: magenta; width: 100px; height: 100px;"></div>
}
@else{
<div style="background-color: teal; width: 100px; height: 100px;"></div>
}

<h1>Switch Case In Angular</h1>

<button (click)="handleColorTwo('red')">Red</button>
<button (click)="handleColorTwo('green')">Green</button>
<button (click)="handleColorTwo('yellow')">Yellow</button>
<button (click)="handleColorTwo('blue')">Blue</button>
<button (click)="handleColorTwo('gold')">Gold</button>
<input type="text" (input)="changeColor($event)" placeholder="enter color name">

@switch (colorTwo) {
  @case ('red') {
    <h2 style="color:red;">Color is Red</h2>
  }
  @case ('green') {
    <h2 style="color:green;">Color is Green</h2>
  }
  @case ('yellow') {
    <h2 style="color:yellow;">Color is Yellow</h2>
  }
  @case ('blue') {
    <h2 style="color:blue;">Color is Blue</h2>
  }
  @default {
    <h2 style="background-color: black; color: white;">Default Color: No color matched</h2>

  }
}


<h1>For Loop in Angular</h1>
 <p>{{users[0]}}</p> -->
<!-- 
@for(user of users; track user){
  <p>{{user}}</p>
} -->

<!-- 
@for(item of users; track item){
  <p>{{item}}</p>
} -->

<!-- <hr>
@for(student of students; track student; let id=$index)
{
  <p>id: {{id}}</p>
  <p>Name: {{student.name}}</p>
  <p>Age: {{student.age}}</p>
  <p>Email: {{student.email}}</p> 
  <button (click)="getStudentName(student.name)">Get Name</button>
  <hr>
} -->
<!-- <h1>Signal in Angular</h1> -->
<!-- <p>{{count_signal()}}</p>

  <p>z: {{z}}</p> -->

<!-- <button (click)="count_signal.set(100);">Increase Signal</button>
  <button (click)="x=200">Increase Property</button> -->

<!-- <button (click)="updateValue()">Update Value</button> -->
<!-- <br>
  <br> -->
<!-- <button (click)="updateValue('dec')">Decrement</button>
  <h2>{{count_signal()}}</h2>
  <button (click)="updateValue('inc')">Increment</button> -->
<!-- 
  <button (click)="count_signal.set(count_signal()-1)">Decrement</button>
  <h2>{{count_signal()}}</h2>
  <button (click)="count_signal.set(count_signal()+1)">Increment</button>

  <hr>
  <br>
  <br>
  <h2>{{data()}}</h2>
  <h1>{{c()}}</h1>
  <button (click)="updateSignal()">Update</button> -->
<!-- 
  <hr>
  <br>
  <h2>{{sum()}}</h2>
  <button (click)="showValue()">Show Value</button>
  <button (click)="updateM()">Update M</button>

  <h1>Effect in Angular</h1>
  <h2>{{userName()}}</h2>
  <button (click)="userName.set('Bob')">Update UserName</button>

  <hr>
  <br> -->

<!-- <button (click)="toggleValue()">Toggle Value</button>
  <h2>{{countThree()}}</h2>
  @if(displayHeading){
  <h1 style="color: white; background-color: blue;">Page Heading</h1>
  }
  <br>
  <br>
  <h1>Contextual Variables in for loop in angular</h1>
  @for(user of users; track user; let i= $index;let first=$first; let last=$last)
  { -->
<!-- @if(first || last){
    <h3 style="color: red;">this is our {{i + 1}} user: {{user}}</h3>
    }
    @else {
          <h3>this is our {{i + 1}} user: {{user}}</h3>
    } -->
<!-- @if($odd)
    {
      <h3 style="color: blue;">this is our {{i + 1}} user: {{user}}</h3>
    }
    @if($even)
    {
      <h3 style="color: green;">this is our {{i + 1}} user: {{user}}</h3> 
    }
    @if($last)
    {
      <p>{{$count}}</p>
    }
  }
  @empty()
  {
    <h2>No record found!!</h2>
  }
  <br>
  <br>
  <h1>Two Way Biniding in Angular</h1>
  <input [(ngModel)]="nameTwo" type="text" placeholder="Enter Name">
  <h2>{{nameTwo}}</h2> -->
<!-- <input (input)="changeName($event)" type="text" placeholder="Enter Name">
  <h2>{{nameTwo}}</h2> -->

<!-- <h1>TO-DO LIST</h1>

 <input type="text" [(ngModel)]="task" placeholder="Enter New Task">
 <button  (click)="addTask()">Add Task</button>

 @for(task of taskList;track task.id)
 {
  <ul class="task-list">
    <li>{{task.id}}</li>
    <li>{{task.task}}</li>
    <button (click)="deleteTask(task.id)">Delete</button>
  </ul>
 }
  <h1 [style.backgroundColor]="color" [style.fontSize]="fontsize">Dynamic Styling</h1>  

  <h1 [style.fontSize]="zoom?fontsizeBig:fontsizeSmall">Heading</h1>
  <button (click)="updateHeadingSize()">Update Heading Size</button> -->

<!-- @if(zoom)
  {
<h1 [style.fontSize]="fontsizeBig">Heading</h1>
  }
  @else {
    <h1 [style.fontSize]="fontsizeSmall">Heading</h1>
  } -->

<!-- <h1 *ngIf="show">Heading Tag</h1> -->

<!-- <h1>*ngFor Directives in Angular</h1> -->
<!-- 
<ul>
  <li *ngFor="let x of students">
    {{x}}
  </li>
</ul>

<ul>
  <li *ngFor="let student of studentData">
    {{student.name}}, {{student.age}}, {{student.email}}
  </li>
</ul> -->

<!-- <h1 >*ngIf Directives in Angular</h1> -->
<!-- <h2 *ngIf="show">Heading</h2> -->
<!-- 
<div *ngIf="login; else elseBlock">
  <a href="">logout</a>
</div>
<ng-template #elseBlock>
  <a href="">login</a>
</ng-template>

<br>

<div *ngIf="block==0">
  <h1>Heading 1</h1>
</div>
<div *ngIf="block==1">
  <h1>Heading 2</h1>
</div>
<div *ngIf="block==2">
  <h1>Heading 3</h1>
</div>

<button (click)="updateBlock()">Update Block</button> -->
<!-- <h1 >*ngSwicth Directives in Angular</h1> -->

<!-- <button (click)="changeColor('red')">Red</button>
<button (click)="changeColor('green')">Green</button>
<button (click)="changeColor('blue')">Blue</button>
<button (click)="changeColor('yellow')">Yellow</button>
<button (click)="changeColor('gray')">Gray</button>
<button (click)="changeColor('gray')">Gray</button>
<div [ngSwitch]="color">
  <h2 *ngSwitchCase="'red'" style="background-color: red;">Red Color</h2>
<h2 *ngSwitchCase="'green'" style="background-color: green;">Grreen Color</h2>
<h2 *ngSwitchCase="'yellow'" style="background-color: yellow;">Yellow Color</h2>
<h2 *ngSwitchCase="'blue'" style="background-color: blue;">Blue Color</h2>
<h2  *ngSwitchCase="'gray'" style="background-color: Gray;">Gray Color</h2>
<h2 *ngSwitchDefault style="background-color: pink;">Default Color</h2>

</div> -->

<!-- <app-header></app-header>
<router-outlet/> -->
<!-- 
<h1>Basic of React Forms</h1>
<form action="" method="post">
  <input type="text" placeholder="Enter Name" [formControl]="name">
  <br>
  <br>
  <input type="text" placeholder="Enter Password" [formControl]="password">
  <br>
  <br>
  <button type="button" (click)="displayValue()">Login</button>
  <button type="button" (click)="setValues()">Set Values in Fields</button>

</form> -->

<!-- <h1>Form Grouping in Reactive Forms</h1>

<form  [formGroup]="profileForm" (ngSubmit)="submitData()">
  <input type="text" placeholder="Enter Name" formControlName="name">
  <span *ngIf="name?.hasError('required')">*</span>
   <span class="error" *ngIf="name?.invalid && (name?.dirty || name?.touched)">Invalid Name</span>
  <br>
  <br>
  <input type="text" placeholder="Enter Password" formControlName="password">
  <span *ngIf="password?.hasError('required')">*</span>
  <span class="error" *ngIf="password?.invalid && (password?.dirty || password?.touched)">Invalid Password</span>
  <br>
  <br>
  <input type="text" placeholder="Enter Email" formControlName="email">
  <span *ngIf="email?.hasError('required')">*</span>
  <span class="error" *ngIf="email?.invalid && (email?.dirty || email?.touched)">Invalid Email</span>
  <br>
  <br>
  <button>Submit</button> -->
<!-- <button type="button" (click)="setValue()">Set Values</button> -->
<!-- </form> -->
<!-- 
<h2>{{this.profileForm.value.email}}</h2>
<h2>{{this.profileForm.value.name}}</h2>
<h2>{{this.profileForm.value.password}}</h2> -->

<!-- <h1>Template Driven Forms</h1>

<form #userForm="ngForm" (ngSubmit)="addDetails(userForm.value)">
  <input #name="ngModel" type="text" required placeholder="Enter Name" name="name" ngModel />
  <span class="error" *ngIf="name.invalid && name.touched">Name is Required</span>
  <br />
  <br />
  <input #password="ngModel" type="password" placeholder="Enter Password" required minlength="5" maxlength="10" name="password" ngModel />
    <span class="error" *ngIf="password.invalid && password.touched"> Please Enter Valid Password</span>
  <br />
  <br />
    <input #email="ngModel" type="email" email placeholder="Enter Email" required minlength="5" maxlength="10" name="email" ngModel />
    <span class="error" *ngIf="email.invalid && email.touched"> Please Enter Valid Email</span>
  <br>
  <br>
    <input #address="ngModel" type="text" pattern="[a-zA-Z0-9\s]+" placeholder="Enter Your Address" required minlength="5" maxlength="10" name="address" ngModel />
    <span class="error" *ngIf="address.invalid && address.touched"> Please Enter Valid Address</span>
  <br>
  <br>
  <select #gender="ngModel" required name="gender" ngModel>
    <option value="">Select Gender</option>
    <option value="male">Male</option>
    <option value="female">Female</option>
  </select>
      <span class="error" *ngIf="address.invalid && address.touched"> Please Select A Gender</span>
  <br />
  <br />
  <input type="range" min="0" max="20" name="range" ngModel />
  <br /><br />
  <button [disabled]="userForm.invalid" >Add User</button>

  <h3>{{ userDetails?.name }}</h3>
  <h3>{{ userDetails?.password }}</h3>
  <h3>{{ userDetails?.gender }}</h3>
  <h3>{{ userDetails?.range }}</h3>
</form> -->

<!-- <h1>Pass Data to Child Component</h1>
<app-user [user]="userName" city="Gurugram"></app-user>

<select #selectedUser (change)="onUserChange(selectedUser.value)">
  <option value="Bruce">Bruce</option>
  <option value="Sam">Sam</option>
  <option value="Peter">Peter</option>
  <option value="Tony">Tony</option>
</select> -->

<!-- <h1>Reuse Component</h1>
@for(user of users;track user)
{
  <app-user [user]="user"></app-user>
} -->

<h1>Pass Data from Child to Parent</h1>
<app-user (getUsers)="handleUsers($event)"></app-user>

@for (user of users; track user) {
  {{user}}
  <br>
}
