<h1>Counter App</h1>
<div style="text-align: center;">
  <h2 class="count">{{count}}</h2>
  <div>
    <button (click)="handleCounter('decrement')" class="btn red-btn">Decrement</button>
    <button (click)="handleCounter('reset')" class="btn black-btn">Reset</button>
    <button (click)="handleCounter('increment')" class="btn green-btn">Increment</button>
  </div>
</div>
<button class="btn" name="login" (click)="handleEvent($event)">Click Event</button>

<br>
<br>
<div style="background-color: greenyellow; width:100px;height: 100px;">

</div>